
go.sum
*.exe
*.exe~
*.dll
*.so
*.dylib


*.o
*.a
*.out

/go/bin/
/go/pkg/
/bin/
/pkg/


.vscode/


*.log
*.tmp
*.temp


.DS_Store
Thumbs.db

.env


*.test
*.cover


.idea/


*.iml


vendor/


dist/
build/
tmp/
